.cache
build
.husky
nginx
**/node_modules/**
public
.vscode
.dockerignore
.env
.env.example
.gitignore
.prettierignore
.strapi-updater.json
Dockerfile
docker-compose.yml
favicon.ico
lint-staged.config.js
README.md
yarn.lock
dist
*.md